@import "../../../../../../../../styles/base/mixins";
@import "../../../../../../../../styles/base/variables";

.h5p-hub {
  .h5p-hub-search-button {
    width: 100%;
    .h5p-hub-search-field {
      position: relative;

      .h5p-hub-icon-arrow {
        position: absolute;
        font-size: 1.30353em;
        top: 0.7em;
        right: 1em;
        cursor: pointer;
        color: #000000;

        &::before {
          content: "\e565";
          font-family: "h5p";
          font-style: normal;
          font-size: 1.25em;
        }
      }
    }
  }

  .h5p-hub-filter-search-bar {
    border: 0.04545em solid #e6e6e8;
    padding: 0.7em;
    font-style: italic;
    font-size: 1.25em;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
      color: #b7b8ba;
    }

    &:focus {
      border-color: #3ba0f2;
      background-color: #fff;
      outline: none;
    }
  }
}
