@import "../../../../../../../../styles/base/mixins";
@import "../../../../../../../../styles/base/variables";

.search-button {
  width: 100%;
  .search-field {
    position: relative;

    .icon-arrow {
      position: absolute;
      font-size: 1.30353em;
      top: 1em;
      right: 1em;
      cursor: pointer;
      color: #000000;

      @media (min-width: $screen-small) {
        &::before {
          content: "\e565";
          font-family: "h5p";
          font-style: normal;
        }
      }
    }
  }
}

#filter-search-bar {
  border: 0.04545em solid #e6e6e8;
  padding: 0.7em;
  font-style: italic;
  font-size: 1.5em;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: #b7b8ba;
  }

  &:focus {
    border: 0.04545em solid #3ba0f2;
    background-color: #fff;
    outline: none;
  }
}
