.h5p-hub {
  .carousel {
    .icon-arrow-thick {
      line-height: 1em;
      height: 1em;
      display: block;
    }

    .next {
      .icon-arrow-thick {
        transform: rotate(180deg);
      }
    }
  }
}
