.h5p-hub {
  .carousel {
    .icon-arrow-thick {
      display: block;
      margin-top: 0.5em;
      text-align: center;
    }

    .next {
      .icon-arrow-thick {
        transform: rotate(180deg);
      }
    }
  }
}