@import "../base/colors";
@import "../base/mixins";
@import "~h5p-sdk/src/styles/base/colors";
@import "~h5p-sdk/src/styles/base/variables";
@import "~h5p-sdk/src/styles/base/mixins";
@import "~susy/sass/susy";

$content-type-list-image-size: 100px;

.h5p-hub {
  ul.content-type-list {
    padding: 1.25em 0;
    overflow: auto;
    box-shadow: 0 0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset,
    0 -0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset;
    height: 40em;
    opacity: 1;
    transition: opacity 0.2s, visibility 0s linear 0s;

    &[aria-hidden="true"] {
      display: inherit;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s, visibility 0s linear 0.2s;
    }

    @include scroll-bar($c3, lighten($c1, 20%));


    li {
      width: 100%;
      padding: $gutter;
      box-sizing: border-box;
      cursor: pointer;
      overflow: auto;
      outline-color: lighten($ac1, 10%);
      margin-top: 0;

      &:hover {
        background-color: lighten($ac1, 55%);
      }

      &:not(:last-child) {
        border-bottom: 1px solid #f5f5f5;
      }
    }

    .media-object {
      width: $content-type-list-image-size / 2;
    }

    .button {
      min-width: 5.8em;
      float: right;
    }

    .media-heading {
      float: left;
      margin-right: $gutter;
    }

    .description {
      color: $c6;
      float: left;
      clear: left;
    }

    .content-type-update-info {
      margin-right: 2em;
      color: $color-section-content-types;
      font-size: $text-body-small;
      font-style: italic;
      float: left;

      &:before {
        font-family: 'h5p-hub';
        font-style: normal;
        content: "\e902";
        margin-right: 0.5em;
      }
    }

    .content-type-actions-info {
      display: inline-block;
      float: right;
    }

    .content-type-row-button {
      display: inline-block;
      white-space: nowrap;
      text-align: right;
      padding: 0;
    }

    @media (min-width: $screen-small) {
      .content-type-row-button {
        padding: $gutter;
      }

      .media-object {
        width: $content-type-list-image-size;
      }

      .content-type-update-info {
        float: right;
      }
    }
  }
}
