@import "../base/mixins";
@import "~h5p-sdk/src/styles/base/colors";
@import "~h5p-sdk/src/styles/base/variables";
@import "~susy/sass/susy";

$color-back-button: #474f5a;

.h5p-hub {
  .content-type-detail {
    background-color: white;
    padding: 1.3em;
    display: inherit;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out, visibility 0s linear 0.2s;
    box-shadow: 0 0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset,
        0 -0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset;

    @include scroll-bar($c3, lighten($c1, 20%));

    &.show {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
      transition: opacity 0.2s ease-out, transform 0.2s ease-out, visibility 0s linear 0s;
    }

    .panel[aria-hidden="false"] {
      display: none;
    }

    // layout
    .container {
      @include container;
      margin-bottom: $gutter * 2;
    }

    // mobile first
    .image-wrapper {
      @include span(1 of 1);
    }

    .text-details {
      @include span(1 of 1);

      h2 {
        margin-top: 0;
      }
    }

    // larger then mobile
    @media (min-width: $screen-small) {
      .image-wrapper {
        @include span(first 4 of 12);
      }

      .text-details {
        @include span(last 8 of 12);
      }
    }

    .button-bar {
      margin: ($gutter * 2) 0;
      text-align: right;

      .button-update,
      .button-updating {
        margin-right: 1em;
      }

      .button-update:before {
        font-family: 'h5p-hub';
        content: "\e902";
        margin-right: 0.5em;
      }
    }

    .back-button {
      color: $color-back-button;
      font-size: 1.3em;
      display: inline-block;
      background: transparent;
      border: none;

      &:hover {
        color: lighten($color-back-button, 20%);
      }

      &.icon-arrow-thick:before {
        cursor: pointer;
      }
    }

    .short-license-info {
      h3 {
        display: inline-block;
      }

      .short-license-read-more {
        border: 0;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .part-one, .part-two {
      outline: none;
    }
  }
}
