.menu-group {
  background-color: $c1;
  padding-top: 1.125em;
  padding-bottom: 1.125em;
}

.menu {
  overflow: auto;
  border-bottom: solid 1px $c3;
  margin-left: 2.25em;
  margin-right: 2.25em;

  & nav {
    float: right;
  }

  .menu-title {
    float: left;
    text-align: center;
    color: white;
    font-style: italic;
  }
}

.input-group-wrapper {
  margin-left:2.25em;
  margin-right:2.25em;
  margin-top: 1.25em;
  padding: 0.333em;
  background-color: white;
  border-radius: 50px;
}

.input-group {
  background-color: white;
}
