@import "../base/colors";
@import "~h5p-sdk/src/styles/base/colors";

.h5p-hub {
  .button-install {
    padding-left: $gutter;

    .icon-arrow-thick {
      margin-right: $gutter / 2;
      display: inline-block;
      transform: rotate(-90deg);
    }
  }

  .menu-group {
    background-color: $c1;
    padding: 1.04em 1.125em 1.125em;

    .input-group {
      padding: 0.4em;
      margin-top: 1.125em;
      background-color: white;
      border-radius: 2em;

      input {
        padding-left: 1.5em;
        font-style: italic;
      }
    }

    .icon-search {
      font-size: 1.4em;
      top: 0.7em;
      right: 1em;
      cursor: pointer;
    }
  }

  .navbar {
    background-color: transparent;
    color: $c2;
    border: 0;
    font-size: $text-list-title;
    border-bottom: solid 1px $c2;

    .navbar-header {
      overflow: auto;
    }

    .icon-accordion-arrow {
      transition: transform 0.1s ease-out;

      &[aria-expanded="true"] {
        transform: rotate(90deg);
      }
    }
  }

  .navbar-brand {
    font-style: italic;
  }

  @media (min-width: $screen-small) {
    .navbar {
      .navbar-header {
        display: inline-block;
      }

      .navbar-brand {
        font-style: italic;
        font-size: $text-title-large;
        padding: 0.3em 0 0;
      }

      .navbar-nav {
        background-color: transparent;
        border: none;
      }
    }
  }

  .content-type-section {
    position: relative;
  }
}
