@import "../base/colors";
@import "~h5p-sdk/src/styles/base/colors";

.h5p-hub {
  .button-install {
    [class^="icon-"] {
      margin-right: $gutter / 2;
      display: inline-block;
    }

    .icon-arrow-thick {
      transform: rotate(-90deg);
    }
  }

  .input-group {
    padding: $gutter 1.125em;
    background-color: $c1;

    .border-wrap {
      padding: 3px;
      background: #fff;
      border-radius: 1.25em;
      font-size: 1.15em;
    }

    .icon-search {
      font-size: 1em;
      top: 1.4em;
      right: 2.2em;
      cursor: pointer;
      color: #4f5662;
    }
  }

  #hub-search-bar {
    border: 1px solid #bfc0c0;
    font-weight: 600;
    padding: 0.5em 0.5em 0.5em 1.5em;
    font-style: italic;
    font-weight: 400;
    font-size: 1em;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    color: #000000;
    border-radius: 1.25em;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      border-color: #3ba0f2;
      outline: none;
    }
    &:before {
      background: none;
      border: 4px solid #fff;
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      pointer-events: none;
    }
  }

  .menu-group,
  .content-type-section {
    display: none;
  }

  .content-type-section-view {
    &.loading {
      font-size: 3em;
      text-align: center;
    }
    &.loading:after {
      @include throbber();
      margin: 0 auto;
    }

    &.loaded {
      .menu-group,
      .content-type-section {
        display: block;
      }
    }
  }

  .navbar {
    background-color: transparent;
    color: #020202;
    border: 0;
    padding: $gutter $gutter * 2;
    margin: 0;
    font-size: 1em;

    .navbar-nav li {
      outline-color: lighten($ac1, 30%);
    }

    #content-type-filter {
      clear: right;
    }

    .navbar-header {
      min-height: 1.5em;
    }

    .navbar-toggler-selected {
      cursor: pointer;
      float: right;
      padding-right: $gutter * 2;
      position: relative;
      line-height: 1;
      font-weight: bold;
    }

    .navbar-toggler-selected:after {
      @include icon($icon-accordion-arrow);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      transition: transform 0.1s ease-out;
    }

    .navbar-toggler-selected[aria-expanded="true"]:after {
      transform: rotate(90deg);
    }
  }

  .result-header {
    font-size: 1.2em;
    margin: 0 0 1em;
  }
  .result-hits {
    font-size: 0.8em;
    color: #808080;
  }
  .sort-by-list > li {
    float: left;
    margin-left: 2em;
    cursor: pointer;
    color: #808080;
    user-select: none;

    &.hightlight {
      font-weight: 600;
      color: #020202;
    }
  }
  .sort-by-header {
    float: left;
  }

  .navbar-brand {
    display: none;
    overflow: hidden;
  }

  .content-type-section {
    position: relative;
    overflow: hidden;
  }

  .content-type-section-no-libraries-warning {
    position: absolute;
    top: 0;
    width: calc(100% - #{$gutter * 2});
    padding: 1em 2em;
    box-sizing: border-box;
    font-size: 0.9em;
  }

  /*
   * The following are custom media queries for the nav bar
   */

   /* Small */
   @media (min-width: 600px) {
     .navbar {
       border-bottom: solid 1px rgba(206, 214, 227, 0.34);

       .navbar-nav li {
         border-bottom: 2px solid transparent;
         transition: border-bottom 0.3s;
         margin-left: 1.5em;
         margin-right: 1em;

         &.selected {
           border-bottom-color: #1a93f4;
           transition: border-bottom 0.3s;
         }
       }
     }
     .navbar-header {
       display: inline-block;
     }

     .navbar-brand {
       padding: $gutter;
     }

     .navbar-toggler {
       display: none;
     }
     .navbar-toggler-selected {
       display: none;
     }

     .navbar-nav {
       display: inline-block;
       float: right;
       display: flex;
       flex: 1;
       justify-content: center;
       overflow: hidden;

       &.collapsed {
         display: flex;
         flex: 1;
         justify-content: center;
         overflow: hidden;
       }
     }
   }

   /* Medium */
   @media (min-width: 789px) {
     .navbar{
       .navbar-brand {
         font-style: italic;
         font-weight: 600;
         font-size: 1.15em;
         padding-left: 1.5em;
         padding-top: 0.5em;
         margin-bottom: -0.5em;
         display: inline-block;
         color: $c2;
       }

       .navbar-nav {
         justify-content: flex-end;
         &.collapsed {
           justify-content: flex-end;
         }
       }
     }
   }

  /* Full size */
  @media (min-width: 850px) {
    .navbar-nav li{
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
  }
}
