@import "~h5p-sdk/src/styles/base/colors";
@import "~h5p-sdk/src/styles/base/variables";
@import "~susy/sass/susy";

.h5p-hub {
  [aria-hidden="true"] {
    display: none;
  }

  .content-type-detail {
    padding: $gutter;

    display: inherit;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateX(100%);

    transition: opacity 0.2s ease-out, transform 0.15s linear, visibility 0.2s ease-out;

    &[aria-hidden="false"] {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }

    .container {
      @include container;
    }

    .image-wrapper {
      @include span(first 4 of 12);
    }

    .text-details {
      @include span(last 8 of 12);
    }

    .button-bar {
      overflow: auto;
      margin-bottom: $gutter;

      .button {
        float: right;
      }
    }

    .back-button {
      font-size: 2em;
      color: $text-dark;

      &:hover {
        color: lighten($text-dark, 20%);
      }

      &.icon-arrow-thick:before {
        cursor: pointer;
      }
    }
  }
}
