@import "../base/colors";
@import "~h5p-sdk/src/styles/base/colors";
@import "~h5p-sdk/src/styles/base/variables";

$text-list-title: 1.042em;

.h5p-hub {
  ul.content-type-list {
    list-style: none;
    padding: 1.25em 0;
    margin: 0;
    height: 500px;
    overflow: auto;

    &[aria-hidden="true"] {
      display: none;
    }

    li {
      width: 100%;
      padding: $gutter;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        background-color: lighten($ac1, 55%);
      }
    }

    li:not(:last-child) {
      border-bottom: 1px solid #f5f5f5;
    }

    img {
      max-width: 100px;
      float: left;
      margin-right: $gutter;
    }

    h4 {
      line-height: 2em;
      margin: 0;
    }

    .description {
      color: $c6;
    }

    .button {
      float: right;
      margin-left: $gutter;
      margin-top: 0.7em;
    }
  }
}