@import "../base/colors";
@import "~h5p-sdk/src/styles/base/colors";

.h5p-hub {
  .button-install {
    padding-left: $gutter;

    [class^="icon-"] {
      margin-right: $gutter / 2;
      display: inline-block;
    }

    .icon-arrow-thick {
      transform: rotate(-90deg);
    }
  }

  .menu-group {
    background-color: $c1;
    padding: 0.5em 1.125em 1.125em;

    .input-group {
      padding: 0.4em;
      margin-top: 1.125em;
      background-color: white;
      border-radius: 2em;

      .form-control {
        border: 1px solid #b4b8c1;
        font-weight: 600;
      }

      input {
        padding-left: 1.5em;
        font-style: italic;
        font-weight: 400;
        font-size: 1.15em;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
        color: #000000;
      }

      input:focus {
        border-color: #3ba0f2;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
      }
    }

    .icon-search {
      font-size: 1.3em;
      top: 0.95em;
      right: 1.3em;
      cursor: pointer;
    }
  }

  .menu-group,
  .content-type-section {
    display: none;
  }

  .content-type-section-view {
    &.loading {
      font-size: 3em;
      text-align: center;
    }
    &.loading:after {
      font-size: 1em;
      line-height: 1;
      font-family: 'h5p-hub';
      content: '\e923';
      padding: $gutter;
      display: block;
      color: lighten($text-dark, 40%);

      @include animation(spin 2s linear infinite);
    }

    &.loaded {
      .menu-group,
      .content-type-section {
        display: block;
      }
    }
  }

  .navbar {
    background-color: transparent;
    color: #ffffff;
    border: 0;
    font-size: 1em;
    padding-bottom: 0;

    .navbar-nav li {
      outline-color: lighten($ac1, 30%);
    }

    #content-type-filter {
      clear: right;
    }

    .navbar-header {
      min-height: 1.5em;
    }

    .navbar-toggler-selected {
      cursor: pointer;
      float: right;
      padding-right: $gutter * 2;
      position: relative;
      line-height: 1;
      font-weight: bold;
    }

    .navbar-toggler-selected:after {
      @include icon($icon-accordion-arrow);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      transition: transform 0.1s ease-out;
    }

    .navbar-toggler-selected[aria-expanded="true"]:after {
      transform: rotate(90deg);
    }
  }

  .navbar-brand {
    display: none;
    overflow: hidden;
  }

  .content-type-section {
    position: relative;
    overflow: hidden;
  }

  .content-type-section-no-libraries-warning {
    position: absolute;
    top: 0;
    width: calc(100% - #{$gutter * 2});
    padding: 1em 2em;
    box-sizing: border-box;
    font-size: 0.9em;
  }

  /*
   * The following are custom media queries for the nav bar
   */

   /* Small */
   @media (min-width: 600px) {
     .navbar {
       display: flex;
       padding: 0;
       border-bottom: solid 1px rgba(206, 214, 227, 0.34);

       .navbar-nav li {
         border-bottom: 0.1em solid transparent;
         transition: border-bottom 0.3s;
         margin-left: 1em;
         margin-right: 1em;

         &.selected {
           border-bottom: 0.1em solid #1a93f4;
           transition: border-bottom 0.3s;
         }
       }
     }
     .navbar-header {
       display: inline-block;
     }

     .navbar-brand {
       padding: $gutter;
     }

     .navbar-toggler {
       display: none;
     }
     .navbar-toggler-selected {
       display: none;
     }

     .navbar-nav {
       display: inline-block;
       float: right;
       display: flex;
       flex: 1;
       justify-content: center;
       overflow: hidden;

       &.collapsed {
         display: flex;
         flex: 1;
         justify-content: center;
         overflow: hidden;
       }
     }
   }

   /* Medium */
   @media (min-width: 789px) {
     .navbar{
       .navbar-brand {
         font-style: italic;
         font-weight: 600;
         font-size: 1.15em;
         padding-left: 1.5em;
         padding-top: 0.5em;
         margin-bottom: -0.5em;
         display: inline-block;
         color: $c2;
       }

       .navbar-nav {
         &.collapsed {
           justify-content: flex-end;
         }
       }
     }
   }

  /* Full size */
  @media (min-width: 850px) {
    .navbar-nav li{
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
  }
}
