@import "~h5p-sdk/src/styles/base/colors";
@import "~h5p-sdk/src/styles/base/variables";
@import "~susy/sass/susy";

.h5p-hub {
  .content-type-detail {
    padding: $padding;

    &[aria-hidden="true"] {
      display: none;
    }

    .container {
      @include container;
    }

    .image-wrapper {
      @include span(first 4 of 12);
    }

    .text-details {
      @include span(last 8 of 12);
    }

    .button-bar {
      overflow: auto;
      margin-bottom: $padding;

      .button {
        float: right;
      }
    }

    .back-button:before {
      font-size: 2em;
      color: $text-dark;
    }
  }
}