@import "../base/colors";
@import "~h5p-sdk/src/styles/base/colors";

.h5p-hub {
  .button-install {
    padding-left: $gutter;

    [class^="icon-"] {
      margin-right: $gutter / 2;
      display: inline-block;
    }

    .icon-arrow-thick {
      transform: rotate(-90deg);
    }
  }

  .menu-group {
    background-color: $c1;
    padding: 1.04em 1.125em 1.125em;

    .input-group {
      padding: 0.4em;
      margin-top: 1.125em;
      background-color: white;
      border-radius: 2em;

      input {
        padding-left: 1.5em;
        font-style: italic;
      }
    }

    .icon-search {
      font-size: 1.4em;
      top: 0.7em;
      right: 1em;
      cursor: pointer;
    }
  }

  .content-type-section-view.error {
    .menu-group,
    .content-type-section {
      display: none;
    }

    /* Adding some left and right margin for message view */
    .message {
      margin: $gutter;
    }
  }

  .navbar {
    background-color: transparent;
    color: $c2;
    border: 0;
    font-size: $text-list-title;
    border-bottom: solid 1px $c2;

    [role="menuitem"] {
      outline-color: lighten($ac1, 30%);
    }

    .navbar-toggler {
      color: inherit;
    }

    .navbar-toggler-selected {
      float: right;
    }

    .icon-accordion-arrow {
      transition: transform 0.1s ease-out;

      &[aria-expanded="true"] {
        transform: rotate(90deg);
      }
    }
  }

  .navbar-brand {
    display: none;
  }

  // just for the menu nav bar
  @media (min-width: 820px) {
    .navbar{
      .navbar-brand {
        font-style: italic;
        font-size: $text-title-small;
        padding: 0.4em 0 0;
        display: inline-block;
      }
    }
  }

  @media (min-width: 652px) {
    .navbar {
      padding: 0;
    }
    .navbar-header {
      display: inline-block;
    }

    .navbar-brand {
      padding: $gutter;
    }

    .navbar-toggler {
      display: none;
    }
    .navbar-toggler-selected {
      display: none;
    }

    .navbar-nav {
      display: inline-block;
      float: right;

      &.collapsed {
        display: block ! important;
      }
    }
  }

  .content-type-section {
    position: relative;
    overflow: hidden;
  }

  .content-type-section-no-libraries-warning {
    position: absolute;
    top: 0;
    left: 2em;
    width: calc(100% - 4em);
    padding: 1em 2em;
    box-sizing: border-box;
    font-size: 0.9em;
    margin: 2em 0;
  }
}
