@import "../base/colors";
@import "../base/mixins";
@import "~h5p-sdk/src/styles/base/colors";
@import "~h5p-sdk/src/styles/base/variables";
@import "~h5p-sdk/src/styles/base/mixins";
@import "~susy/sass/susy";

.h5p-hub {
  ul.content-type-list {
    list-style: none;
    padding: 1.25em 0;
    margin: 0;
    height: 40em;
    overflow: auto;
    box-shadow: 0 0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset,
                0 -0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset;

    opacity: 1;
    transition: opacity 0.2s, visibility 0s linear 0s;

    &[aria-hidden="true"] {
      display: inherit;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s, visibility 0s linear 0.2s;
    }

    @include scroll-bar($c3, lighten($c1, 20%));

    li {
      width: 100%;
      padding: $gutter;
      box-sizing: border-box;
      cursor: pointer;
      overflow: auto;
      outline-color: lighten($ac1, 10%);

      @include container;

      &:hover {
        background-color: lighten($ac1, 55%);
      }

      &:not(:last-child) {
        border-bottom: 1px solid #f5f5f5;
      }
    }

    img {
      @include span(first 3 of 12);
      max-width: 100px;
    }

    .content-type-row-info {
      @include  span(6 of 12);

      h4 {
        line-height: 2em;
        margin: 0;
      }

      .description {
        color: $c6;
      }
    }


    .content-type-row-button {
      white-space: nowrap;
      text-align: right;
      padding: 0;
      @include span(last 3 of 12);
    }

    @media (min-width: $screen-small) {
      .content-type-row-button {
        padding: $gutter;
      }
    }
  }
}
