@import "../base/colors";
@import "~h5p-sdk/src/styles/base/colors";

.h5p-hub {
  .button-install {
    padding-left: $gutter;

    .icon-arrow-thick {
      margin-right: $gutter / 2;
      display: inline-block;
      transform: rotate(-90deg);
    }
  }

  .menu-group {
    background-color: $c1;
    padding: 1.125em;
    padding-top: 1.04em;

    .menu {
      overflow: auto;
      height: 24px;
      border: 0;
      border-bottom: solid 1px #9CA5B4;
      padding-bottom: 1.04em;
      margin-left: 2.25em;
      margin-right: 2.25em;
      overflow: hidden;

      .menu-title {
        float: left;
        text-align: center;
        font-style: italic;
        font-size: $text-title-large;
        color: $c2;
      }

      nav {
        float: right;
      }

     [role="menubar"] {
         background-color: transparent;
         border: none;
      }

     [role="menuitem"] {
       padding-top: 0.3em;
       font-size: $text-list-title;
       font-weight: 400;
       color: $c3;

       &[aria-selected="true"] {
         font-weight: 600;
       }
      }
    }

    .input-group {
      padding: 0.4em;
      margin-top: 1.125em;
      background-color: white;
      border-radius: 2em;

      input {
        padding-left: 1.5em;
        font-style: italic;
      }
    }

    .icon-search {
      font-size: 1.4em;
      top: 0.7em;
      right: 1em;
      // pointer-events: none; // Doesn't work < IE11
      cursor: pointer;
    }
  }

  .content-type-section {
    position: relative;
  }
}
