@import "~h5p-sdk/src/styles/base/colors";
@import "~h5p-sdk/src/styles/base/variables";
@import "~susy/sass/susy";

.h5p-hub {
  [aria-hidden="true"] {
    display: none;
  }

  .content-type-detail {
    padding: $gutter;

    .container {
      @include container;
    }

    .image-wrapper {
      @include span(first 4 of 12);
    }

    .text-details {
      @include span(last 8 of 12);
    }

    .button-bar {
      overflow: auto;
      margin-bottom: $gutter;

      .button {
        float: right;
      }
    }

    .back-button {
      font-size: 2em;
      color: $text-dark;

      &:hover {
        color: lighten($text-dark, 20%);
      }
    }
  }
}