@import "../base/colors";
@import "~h5p-sdk/src/styles/base/colors";

.h5p-hub {
  .menu-group {
    background-color: $c1;
    padding: 1.125em;

    .menu {
      overflow: auto;
      border: 0;
      border-bottom: solid 1px #9CA5B4;
      margin-left: 2.25em;
      margin-right: 2.25em;

      nav {
        float: right;
      }

      ul {
        background-color: transparent;
        border: none;

        li {
          color: $c3;
        }
      }

      .menu-title {
        float: left;
        text-align: center;
        color: white;
        font-style: italic;
      }
    }

    .input-group {
      padding: 0.333em;
      background-color: white;
      border-radius: 2em;

      input {
        font-style: italic;
      }
    }

    .icon-search {
      font-size: 2.5em;
      top: 0.15em;
      right: 0.2em;
    }
  }
}