@import "../../../node_modules/h5p-sdk/src/styles/base/colors";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@mixin h5p-hub-icon($char){
  font-family: 'h5p' !important;
  content: $char;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.h5p-hub {
  font-family: 'Open Sans', sans-serif;

  &.panel {
    border: 1px solid $c1;
  }

  &.h5p-section-create-content {
    border: 1px solid $ac1;
  }

  .panel-header {
    background-color: white;
    color: $c1;

    &:after {
      @include h5p-hub-icon("\e924");
      font-size: 1.3em;
      float: right;
    }
  }
}