@import "../base/colors";
@import "~h5p-sdk/src/styles/base/colors";
@import "~h5p-sdk/src/styles/base/mixins";
@import "~h5p-sdk/src/styles/components/button";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@mixin h5p-hub-icon($char) {
  font-family: 'h5p-hub' !important;
  content: $char;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: $gutter;
}

@mixin section($color) {
  &[open] {
    border: 1px solid $color;
  }

  [role="tab"][aria-selected="true"] ~ span{
    background: $color;
  }

  .button.button-primary {
    @include button-filled($color, white);
  }

  .button.button-inverse-primary {
    @include button-inverse(white, $color);
  }

  .icon-search {
    color: $color;
  }
}

.h5p-hub {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: $gutter;

  &>.panel {
    border: 1px solid $c1;

    &>[role="heading"] {
      background-color: white;
      color: $c1;
      font-style: italic;
      font-weight: 600;

      &:before {
        font-style: normal;
        font-weight: normal;
        margin-right: 1em;
      }

      [role="button"] {
        &:after {
          @include h5p-hub-icon("\e924");
          font-size: 0.9em;
          float: right;
        }
      }
    }

    &.h5p-section-content-types {
      @include section($color-section-content-types);
    }

    &.h5p-section-content {
      @include section($color-section-content);
    }

    &.h5p-section-upload {
      @include section($color-section-upload);
    }
  }

  .tab-panel {
    border: none;

    > nav > [role="tablist"] {
      background-color: $c4;
      border-bottom: none;

      [role="tab"] {
        color: $c3;
        outline-color: lighten($ac1, 10%);

        &:before {
          @include h5p-hub-icon("\e91d");
        }

        &[aria-selected='true'] {
          &:before {
            @include h5p-hub-icon("\e91b");
          }
        }

        // Hardcoded transitions
        &:nth-child(1) ~ span,
        &:nth-child(1)[aria-selected="true"] ~ span {
          width: 150px;
          right: 0;
        }

        &:nth-child(2) ~ span,
        &:nth-child(2)[aria-selected="true"] ~ span {
          width: 120px;
          right: -150px;
        }
      }
    }
  }
}
