@import "../../../node_modules/h5p-sdk/src/styles/base/colors";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@mixin h5p-hub-icon($char){
  font-family: 'h5p' !important;
  content: $char;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.h5p-hub {
  font-family: 'Open Sans', sans-serif;

  &.panel {
    border: 1px solid $c1;

    &>.panel-header {
      background-color: white;
      color: $c1;
      font-style: italic;
      font-weight: 600;

      &:before {
        font-style: normal;
        margin-right: 1em;
      }

      &:after {
        @include h5p-hub-icon("\e924");
        font-size: 1.3em;
        float: right;
      }
    }
  }

  .tab-panel {
    > nav > ul {
      background-color: $c4;
      border-bottom: none;

      li {
        color: $c3;
      }
    }
  }

  &.h5p-section-create-content {
    border: 1px solid $ac1;
  }
}