@import "../base/colors";
@import "~h5p-sdk/src/styles/base/colors";
@import "~h5p-sdk/src/styles/base/mixins";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@mixin h5p-hub-icon($char) {
  font-family: 'h5p' !important;
  content: $char;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

@mixin section($color) {
  &[open] {
    border: 1px solid $color;
  }

  [role="menuitem"][aria-selected="true"] {
    @include box-shadow(0, -5px, 0, 0, $color, true);
  }

  [role="tab"][aria-selected="true"] ~ span{
    background: $color;
  }

  .button.button-primary {
    background-color: $color;
  }

  .button.button-inverse-primary {
    border-color: $color;
    color: $color;
  }

  .icon-search {
    color: $color;
  }
}

.h5p.h5p-hub {
  font-family: 'Open Sans', sans-serif;

  .panel {
    border: 1px solid $c1;

    &>.panel-header {
      background-color: white;
      color: $c1;
      font-style: italic;
      font-weight: 600;

      &:before {
        font-style: normal;
        margin-right: 1em;
      }

      &:after {
        @include h5p-hub-icon("\e924");
        font-size: 1.3em;
        float: right;
      }
    }

    &.h5p-section-content-types {
      @include section($color-section-content-types);
    }

    &.h5p-section-content {
      @include section($color-section-content);
    }

    &.h5p-section-upload {
      @include section($color-section-upload);
    }
  }

  .tab-panel {
    border: none;

    > nav > ul {
      background-color: $c4;
      border-bottom: none;

      [role="tab"] {
        color: $c3;

        &[aria-selected='true'] {
          &:before {
            @include h5p-hub-icon("\e91b");
            font-size: 1.6em;
            margin-top: -1.5px;
            float: left;
          }
        }

        &[aria-selected='false'] {
          &:before {
            @include h5p-hub-icon("\e91d");
            font-size: 1.6em;
            margin-top: -1.5px;
            float: left;
          }
        }

        // Hardcoded transitions
        &:nth-child(1) ~ span,
        &:nth-child(1)[aria-selected="true"] ~ span {
          width: 150px;
          right: 0;
        }

        &:nth-child(2) ~ span,
        &:nth-child(2)[aria-selected="true"] ~ span {
          width: 120px;
          right: -150px;
        }
      }
    }
  }
}
