@import "../base/colors";
@import "../base/mixins";
@import "~h5p-sdk/src/styles/base/colors";
@import "~h5p-sdk/src/styles/base/mixins";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.h5p-hub {

  .tab-panel {
    border: none;

    > nav > [role="tablist"] {
      background-color: $c4;
      border-bottom: none;

      [role="tab"] {
        color: $c3;
        outline-color: lighten($ac1, 10%);

        &:before {
          @include h5p-hub-icon($icon-radio-unselected, $gutter);
        }

        &[aria-selected='true']:before {
          content: $icon-radio-selected;
        }
      }
    }
  }

}
