@import "../base/mixins";
@import "~h5p-sdk/src/styles/base/colors";
@import "~h5p-sdk/src/styles/base/variables";

@include keyframes('spin') {
  100% {
    transform: rotate(360deg);
  }
}

.h5p-hub {
  .icon-spin {
    display: inline-block;
    @include animation(spin 2s linear infinite);
  }

  .button {
    [class^="icon-"] {
      margin-right: $gutter / 2;
      display: inline-block;
    }
  }

  .icon-hub-icon:before {
    font-family: 'h5p-hub';
    content: $icon-hub;
  }
  .icon-arrow-thick:before {
    font-family: 'h5p-hub';
    content: $icon-arrow-thick;
  }
  .icon-info-circle:before {
    font-family: 'h5p-hub';
    content: $icon-info-circle;
  }
  .icon-accordion-arrow:before {
    font-family: 'h5p-hub';
    content: $icon-accordion-arrow;
  }
  .icon-search:before {
    font-family: 'h5p-hub';
    content: $icon-search;
  }
  .icon-loading-search:before {
    font-family: 'h5p-hub';
    content: $icon-throbber;
  }
  .icon-close:before {
    font-family: 'h5p-hub';
    content: $icon-close;
  }
}
