@import "../base/mixins";
@import "../base/variables";

@include keyframes('spin') {
  100% {
    transform: rotate(360deg);
  }
}

.h5p-hub {
  .h5p-hub-button {
    [class^="icon-"] {
      margin-right: $gutter / 2;
      display: inline-block;
      font-weight: normal;
      font-size: 0.9em;
    }
  }
  .h5p-hub-icon-hub-icon:before {
    font-family: 'h5p-hub';
    content: $icon-hub;
  }
  .h5p-hub-icon-arrow-thick:before {
    font-family: 'h5p-hub';
    content: $icon-arrow-thick;
  }
  .h5p-hub-icon-accordion-arrow:before {
    font-family: 'h5p-hub';
    font-weight: normal;
    content: $icon-accordion-arrow;
  }
  .h5p-hub-icon-search:before {
    font-family: 'h5p-hub';
    content: $icon-search;
  }
}
