.h5p-hub {
  .panel {
    .icon-accordion-arrow {
      margin-top: -4px;
      font-size: 0.7em;
      margin-right: $gutter;
      margin-left: $gutter;
      display: inline-block;
      vertical-align: middle;
      transition: transform 0.1s ease-out;
    }

    [aria-expanded="true"] {
      .icon-accordion-arrow {
        transform: rotate(90deg);
      }
    }

    #panel-body-content-types {
      display: inherit;
    }
  }

  .panel.h5p-section-content-types.open {
    max-height: 58.65em;
  }

  .panel.h5p-section-content-types {
    max-height: 3.0em;
    transition: max-height 0.1s;
    overflow: hidden;
  }

  &.panel-simple {
    [role="heading"] {

    }
  }
}
