@import "~h5p-sdk/src/styles/base/variables";

.h5p-hub {

  .upload-wrapper {
    padding: 2em;
  }

  .upload-path {
    width: 60;
    margin-bottom: 1em;
  }

  @media (min-width: $screen-small) {
    .upload-path {
      margin-bottom: 0;
    }
  }
}
