@font-face {
  font-family: 'h5p-hub';
  src: url('fonts/h5p-hub.eot?626d03');
  src: url('fonts/h5p-hub.eot?626d03#iefix') format('embedded-opentype'),
  url('fonts/h5p-hub.ttf?626d03') format('truetype'),
  url('fonts/h5p-hub.woff?626d03') format('woff'),
  url('fonts/h5p-hub.svg?626d03#h5p-hub') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'h5p';
  src:    url('fonts/h5p-core-24.eot?mz1lkp');
  src:    url('fonts/h5p-core-24.eot?mz1lkp#iefix') format('embedded-opentype'),
  url('fonts/h5p-core-24.ttf?mz1lkp') format('truetype'),
  url('fonts/h5p-core-24.woff?mz1lkp') format('woff'),
  url('fonts/h5p-core-24.svg?mz1lkp#h5p') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

.h5peditor-copypaste-wrap {
  float: right;
}
.h5peditor-paste-button,
.h5peditor-copy-button {
  border: 1px solid #deeeec;
  padding: 0.5em 0.75em 0.75em 0.5em;
  margin-left: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  background: #f2faff;
  line-height: 0.5em;
}
.h5peditor-paste-button:hover,
.h5peditor-copy-button:hover {
  border-color: #bbdae8;
}
.h5peditor-paste-button:active,
.h5peditor-copy-button:active {
  background-color: #deeffb
}
.h5peditor-paste-button.disabled,
.h5peditor-copy-button.disabled {
  color: #707070;
  background-color: #f5f5f5;
  border-color: #ededed;
  cursor: not-allowed;
}

.h5peditor-copy-button:before,
.h5peditor-paste-button:before {
  font-family: 'h5p';
  margin-right: 5px;
  font-size: 1.5em;
  position: relative;
  top: 0.2em;
  color: #2372b3;
}
.h5peditor-copy-button:before {
  content: "\e90e";
}
.h5peditor-paste-button:before {
  content: "\e910";
}
.h5peditor-copy-button.disabled:before,
.h5peditor-paste-button.disabled:before {
  color: #707070;
}
.h5peditor-copy-button.disabled:before {
  content: "\e90f";
}
.h5peditor-paste-button.disabled:before {
  content: "\e911";
}
.h5p-hub .h5peditor-paste-button {
  font-family: Open Sans,sans-serif;
  color: #fff;
  border: solid 1px #9fc8f4;
  padding: 0 0.75em 0.5em 0.75em;
  background: transparent;
  line-height: 1;
  height: auto;
  margin-top: 0.675em;
  margin-right: 0.675em;
}
.h5p-hub .h5peditor-paste-button:hover {
  background: #4b5460;
  border-color: #606a78;
}
.h5p-hub .h5peditor-paste-button:active {
  background: #434b55;
}
.h5p-hub .h5peditor-paste-button.disabled {
  border-color: #30353d;
  background: #30353d;
  color: #c2c2c2;
}
.h5p-hub .h5peditor-paste-button:before {
  color: #9fc8f4;
}
.h5p-hub .h5peditor-paste-button.disabled:before {
  color: #c3c3c3;
}
