@import "../../../../../styles/base/variables";
@import "../../../../../styles/base/mixins";

.h5p-hub {
  .filter-bar {
    background-color: $c1;
    font-size: 1em;
    padding: 0 0.833em 0.833em 1.125em;
    display: flex;

    .filter-label {
      color: #ffffff;
      align-self: center;
    }
    @media (max-width: $screen-medium) {
      flex-direction: column;

      .filter-label {
        align-self: start;
        margin-left: 1em;
      }
    }
  }

  .filter-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      outline: none;
      margin: 0.5em 0 0.5em 0;
    }

    li:focus {
      .filter-button {
        box-shadow: $box-shadow-blue;
        button {
          background-image: linear-gradient(0deg, #e3e3e3 0%, #ffffff 100%);
        }
      }
    }
  }

  .clear-filters {
    flex-grow: 1;
    align-self: center;

    @media (max-width: $screen-medium) {
      align-self: start;
      margin-left: 1em;
    }

    button {
      font-family: "Open Sans", sans-serif;
      align-items: center;
      float: right;
      display: flex;
      font-size: 1em;
      background: none;
      color: #ffffff;
      font-size: 0.88889em;
      cursor: pointer;

      &:focus {
        box-shadow: $box-shadow-blue;
        outline: none;
      }

      &::before {
        @include icon($icon-remove);
        font-style: normal;
        font-size: 0.7em;
        margin-right: 0.7em;
      }
    }
  }
}
