@import '../../../../../styles/base/variables';
@import '../../../../../styles/base/mixins';

.h5p-hub-content-type-detail-button-bar {
  margin: ($gutter * 2) 0;
  text-align: right;

  .button-update,
  .button-updating {
    margin-right: 0.6em;
  }

  .button-install:before,
  .button-installing:before,
  .button-update:before,
  .button-updating:before {
    display: inline-block;
    margin-right: 0.7em;
    font-weight: normal;
    font-size: 0.9em;
  }

  .button-install:before {
    @include icon($icon-arrow-thick);
    transform: rotate(-90deg);
  }

  .button-update:before {
    @include icon($icon-update);
  }

  .button-installing:before,
  .button-updating:before {
    @include icon($icon-throbber);
    @include animation(spin 2s linear infinite);
  }
}
