@import '../../../../../styles/base/colors';
@import '../../../../../styles/base/variables';
@import '../../../../../styles/base/mixins';
@import "~susy/sass/susy";

$color-back-button: #474f5a;

.h5p-hub {
  .content-type-detail {
    background-color: white;
    padding: 1.3em;
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    outline: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform 0.2s ease-out, visibility 0s linear 0.2s;
    box-shadow: 0 0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset,
        0 -0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset;

    @include scroll-bar(#F3F3F3, #5e6978);

    &.show {
      transform: translateX(0);
      visibility: visible;
      transition: transform 0.2s ease-out, visibility 0s linear 0s;
    }

    .panel[aria-hidden="false"] {
      display: none;
    }

    // layout
    .container {
      @include container;
      margin-bottom: $gutter * 2;
      padding-bottom: 1em;
    }

    // mobile first
    .image-wrapper {
      @include span(1 of 1);
    }

    .title {
      outline: 0;
    }

    .text-details {
      @include span(1 of 1);

      h2 {
        margin-top: 0;
      }
    }

    // larger then mobile
    @media (min-width: $screen-small) {
      .image-wrapper {
        @include span(first 4 of 12);
      }

      .text-details {
        @include span(last 8 of 12);
      }
    }

    .button-bar {
      margin: ($gutter * 2) 0;
      text-align: right;

      .button-update,
      .button-updating {
        margin-right: 0.6em;
      }

      .button-update:before {
        @include icon($icon-update);
        margin-right: 0.5em;
        font-weight: normal;
        font-size: 0.9em;
      }
    }

    .back-button {
      color: $color-back-button;
      font-size: 1.3em;
      display: inline-block;
      background: transparent;
      border: none;
      text-decoration: none;
      outline: none;

      &:hover {
        color: darken(#1f2227, 30%);
      }
      &:focus {
        box-shadow: 0 0 1px 1px #1a93f4;
      }

      &.icon-arrow-thick:before {
        cursor: pointer;
      }
    }
  }

  .license-dialog .loading .panel {
    display: none;
  }

  .license-dialog .loading:after {
    @include throbber(3em);
    width: 1em;
    margin: 0 auto;
  }

  .imagelightbox-button {
    &.next:before,
    &.previous:before {
      display: block;
      line-height: 2em;
      height: 100%;
    }
    &.next:before {
      @include icon($icon-arrow-thick);
      transform: rotate(180deg);

    }
    &.previous:before {
      @include icon($icon-arrow-thick);
    }
    &.close:before {
      @include icon($icon-close);
    }
  }
}

.lightbox-inner.license {
  background: #fff;
  text-align: left;
  max-height: calc(100% - 5em);
  width: calc(100% - 5em);

  :not(.loading) .modal-content {
    max-height: 50em;
    overflow-y: auto;
  }

  .loading:after {
    @include throbber(3em);
    width: 1em;
    margin: 0 auto;
  }

  .lightbox-close {
    top: -0.8em;
    right: -0.8em;
    color: #333;
  }

  .modal-header {
    font-weight: 400;
    font-size: 1.6em;
    margin-bottom: 1em;
  }

  .modal-title {
    font-weight: 700;
  }
}
