.h5p-hub .content-type-detail {
  .text-details span {
    outline: none;
  }

  .text-details .link {
    color: #1f2227;
    outline: none;
    margin-left: 0.5em;

    &:hover {
      color: darken(#1f2227, 30%);
    }
    &:focus {
      box-shadow: 0 0 1px 1px #1a93f4;
    }
  }
}
