.h5p-hub .content-type-detail {
  .text-details span {
    outline: none;
  }

  .read-more {
    color: #1f2227;

    &:hover,
    &:focus {
      color: lighten(#1f2227, 30%);
    }
    &:active {
      color: darken(#1f2227, 30%);
    }
  }
}
