@import '../../../styles/base/variables';

.h5p-hub {
  .panel {
    .icon-accordion-arrow {
      margin-top: -4px;
      font-size: 0.7em;
      margin-right: $gutter;
      margin-left: $gutter;
      display: inline-block;
      vertical-align: middle;
      transition: transform 0.1s ease-out;
    }

    [aria-expanded="true"] {
      .icon-accordion-arrow {
        transform: rotate(90deg);
      }
    }
  }
}
