.h5p-hub {
  .reuse-content-result {
    position: relative;
    overflow: hidden;
  }

  .content-list-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
  }
}
