@import '../../../../styles/base/mixins';

.h5p-hub {
  .h5p-hub-reuse-content-result {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 56em;
    box-shadow: 0 0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset;
    @include scroll-bar(#F3F3F3, #5e6978);

    >.h5p-hub-content-list .h5p-hub-fetching-failed {
      margin-top: 2em;
      margin-left: 2em;
    }

    .h5p-hub-terms-of-use {
      padding: 0 1em 1em;
      text-align: center;

      .h5p-hub-terms-of-use-text {
        font-size: 0.8em;

        a {
          color: #326efb;

          &:focus {
            box-shadow: 0 0 1px 1px #186df7;
            color: #186df7;
          }
        }
      }
    }
  }

  .h5p-hub-reuse-content-container {
    position: relative;
  }

  .h5p-hub-content-list-hidden {
    visibility: hidden;
  }
}
