.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background: rgba(0, 0, 0, 0.8);
}

.lightbox-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  box-sizing: border-box;

  background-color: #fff;
  padding: 2em;
  text-align: center;
}
