@import "../../../styles/base/variables";
@import "../../../styles/base/mixins";

ul.list-of-numbers {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  border-radius: 0.15146em;
  justify-content: center;

  .list-element {
    user-select: none;
    -ms-user-select: none; //Needed to work in ie
    padding: 0.17039em;

    @media (max-width: $screen-small) {
      padding: 0.25em;
      margin-bottom: 1em;
    }

    a {
      padding: 0.25em 0.75em;
      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
      outline: none;
      border-radius: 0.15146em;
      border: 0.07573em solid #ffffff;
      display: inline-block;

      &.highlight {
        background-color: RGBA(209, 107, 23, 0.1);
        border: 0.07573em solid #d16b17;
      }
      &:hover {
        @media (hover: hover) {
          background-color: RGBA(209, 107, 23, 0.05);
          border: 0.07573em solid #ffffff;
        }
      }
      &:focus {
        box-shadow: 0 0 0.4em 0.01em RGBA(26, 147, 244, 0.7);
      }
    }

    &.disabled {
      pointer-events: none;
      a {
        color: #b3b3b3;
        &:hover {
          background-color: #ffffff;
        }
      }
    }
  }
  .previous-arrow {
    &::after {
      @include icon($icon-arrow-line);
      transform: rotate(90deg);
      font-style: normal;
      font-size: 0.7em;
      display: inline-block;
    }
  }
  .next-arrow {
    &::before {
      @include icon($icon-arrow-line);
      transform: rotate(-90deg);
      font-style: normal;
      font-size: 0.7em;
      display: inline-block;
    }
  }
  .dots {
    padding: 0.17039em;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    .dots-text {
      padding: 0.25em 0.75em;
    }
  }
}
