@import "../../../../../../../styles/base/mixins";
@import "../../../../../../../styles/base/colors";

.h5p-hub {
  .search-filter {
    outline: 0.06815em solid #bebdcd;
    position: relative;

    .clear-button {
      background: none;
      position: absolute;
      top: 0;
      padding: 1.6em;
      right: 4.75em;
      color: #757575;
      &::before {
        @include icon($icon-remove);
        font-style: normal;
        font-size: 1em;
      }
    }
    .navigate-parent {
      width: 100%;
      font-size: 1.36314em;
      padding: 0.5em;
      background-color: #ffffff;
      display: flex;
      font-weight: bold;

      &::before {
        @include icon($icon-arrow-thick);
        position: relative;
        transition: left 0.3s;
        left: 0;
        font-style: normal;
        font-size: 1em;
        font-weight: normal;
        display: inline-block;
        align-self: center;
        margin-right: 0.7em;
      }

      &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
        &::before {
          left: -4px;
        }
      }
    }

    .checkbox-list {
      overflow: hidden;
      overflow-y: scroll;
      height: 25em;

      li {
        border: 1px solid #e6e6e8;
        .content {
          padding: 0.3em;
          .label-text {
            margin-right: 1em;
          }
        }
        &:focus {
          border: 0.06815em solid #3ba0f2;
          background-color: #fff;
          outline: none;
          box-shadow: none;
        }
        &:hover {
          background-color: #f2f2f2;
        }
        &.highlighted {
          border: 0.06815em solid #3ba0f2;
          background-color: #fff;
          box-shadow: none;
        }
        &:hover {
          background-color: rgba(230, 230, 232, 0.25);
        }
      }

      &::-webkit-scrollbar {
        background-color: rgba(105, 117, 133, 0.25);
        width: 0.54525em;
        border-radius: 5.45256em;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #697585;
        background-size: 24px 100%;
        border-radius: 5.45256em;
      }
    }
  }
}
