@import "../../../../../../../styles/base/mixins";
@import "../../../../../../../styles/base/colors";

.h5p-hub {
  .h5p-hub-search-filter {
    outline: 0.06815em solid #bebdcd;
    position: relative;

    .h5p-hub-clear-button {
      background: none;
      position: absolute;
      top: 0;
      padding: 1.2em;
      right: 3em;
      color: #757575;
      &::before {
        @include icon($icon-remove);
        font-style: normal;
        font-size: 1em;
      }
    }
    .h5p-hub-navigate-parent {
      font-size: 1.25em;
      padding: 0.3534em;
      display: flex;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      border: 1px solid #e6e6e8;
      align-items: center;

      button {
        background-color: #ffffff;
        position: relative;
        font-style: normal;
        font-size: 0.8em;
        border-radius: 50%;
        margin-right: 0.4em;
        align-self: center;
        padding: 0.5em;

        &::before {
          @include icon($icon-arrow-thin);
          transform: rotate(180deg);
          font-weight: normal;
          display: inline-block;
        }
        &:hover {
          background-color: #dadada;
          cursor: pointer;
        }
      }
    }

    .h5p-hub-checkbox-list {
      overflow: hidden;
      overflow-y: scroll;
      max-height: 25em;

      li {
        border: 1px solid #e6e6e8;
        .h5p-hub-content {
          padding: 0.3em;
          .h5p-hub-label-text {
            margin-right: 1em;
          }
        }
        &:focus {
          border-color: #3ba0f2;
          background-color: #fff;
          outline: none;
          box-shadow: none;
        }
        &:hover {
          background-color: #f2f2f2;
        }
        &.h5p-hub-highlighted {
          border-color: #3ba0f2;
          background-color: #fff;
          box-shadow: none;
        }
        &:hover {
          background-color: rgba(230, 230, 232, 0.25);
        }
      }

      &::-webkit-scrollbar {
        background-color: rgba(105, 117, 133, 0.25);
        width: 0.54525em;
        border-radius: 5.45256em;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #697585;
        background-size: 24px 100%;
        border-radius: 5.45256em;
      }
    }
  }
}
