@import "../../../../../../styles/base/mixins";
@import "../../../../../../styles/base/variables";

$ative-state: linear-gradient(0deg, #f4ddcd 0%, #fbfffc 100%);
$open-state: linear-gradient(0deg, #c2c6cf 0%, #dde2e6 100%);

.h5p-hub {
  .h5p-hub-filter-button {
    margin-left: 0.85em;

    button {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      padding: 0.25em 0.426em;
      -ms-user-select: none;
      user-select: none;
      display: flex;
      align-items: center;
      font-size: 1em;
      box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      background-image: linear-gradient(0deg, #e3e3e3 0%, #ffffff 100%);

      &.h5p-hub-open {
        background-image: $open-state;
      }

      &.h5p-hub-filter-checked {
        background-image: $ative-state;
      }

      &.h5p-hub-one-checked {
        background-image: $ative-state;
      }

      &:hover {
        background-image: $open-state;
        cursor: pointer;
      }

      .h5p-hub-icon {
        margin-left: 0.3em;
        @media (min-width: $screen-small) {
          &::after {
            content: "\e565";
            font-family: "h5p";
            font-style: normal;
            font-size: 0.8em;
            margin-left: 0.6em;
          }
        }
        &.h5p-hub-check {
          &::before {
            @include icon($icon-check);
            font-style: normal;
            font-size: 0.7em;
            margin: 0 0.4em 0 0.4em;
          }
        }
      }
    }
  }
}
