@import "../../node_modules/h5p-sdk/src/styles/base/colors";
@import "../../node_modules/h5p-sdk/src/styles/base/variables";

@import "../../node_modules/h5p-sdk/src/styles/components/button";
@import "../../node_modules/h5p-sdk/src/styles/components/input-group";
@import "../../node_modules/h5p-sdk/src/styles/components/panel";
@import "../../node_modules/h5p-sdk/src/styles/components/tab-panel";
@import "../../node_modules/h5p-sdk/src/styles/components/menu";

@import "components/hub";
@import "components/content-type-list";
@import "components/content-browser-view";
