@import "../../../../../styles/base/colors";
@import "../../../../../styles/base/mixins";
@import "../../../../../styles/base/variables";

.h5p-hub .content-type-list {
  overflow: auto;
  height: 39.122137405em;
  opacity: 1;
  transition: opacity 0.2s, visibility 0s linear 0s;

  &[aria-hidden="true"] {
    display: inherit;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
  }

  @include scroll-bar($c3, lighten($c1, 20%));

  &:before {
    content: " ";
    width: 100%;
    box-shadow: 0 0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset,
                0 -0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset;
    height: calc(100% - 5.996455834em);
    position: absolute;
    pointer-events: none;
  }

  ol {
    margin: 1.25em 0;
    padding: 0;
    list-style: none;
  }

  li {
    width: 100%;
    padding: 0.5em 1.5em 0.5em 1em;
    box-sizing: border-box;
    cursor: pointer;
    overflow: visible;
    outline-color: lighten($ac1, 10%);
    margin-top: 0;

    &:hover {
      background-color: lighten($ac1, 55%);
    }

    &:not(:last-child) {
      border-bottom: 1px solid $separator-color;
    }
  }
  li[tabindex="0"] {
    background-color: lighten($ac1, 55%);
  }
}

.h5p-hub .filtering .content-type-list:before {
  height: calc(100% - 3.536668484em);
}

.no-results {
  background: url('../../../../../images/no-results.svg') no-repeat;
  background-position: 4em 0em;
  background-size: contain;
  padding: 0em 1em 0.5em 17em;
  margin-top: 2em;
}
.no-results-title {
  margin-bottom: 0.4em;
  font-size: 1.2em;
  font-weight: bold;
}
.no-results-desc {
  color: #4d4d4d;
}
