@import "../../../../../styles/base/colors";
@import "../../../../../styles/base/mixins";
@import "../../../../../styles/base/variables";

.h5p-hub .content-type-list {
  overflow: auto;
  height: 37.422137em;
  opacity: 1;
  transition: opacity 0.2s, visibility 0s linear 0s;

  &[aria-hidden="true"] {
    display: inherit;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
  }

  @include scroll-bar(#F3F3F3, #5e6978);

  &:before {
    content: " ";
    width: 100%;
    box-shadow: 0 0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset,
                0 -0.4em 0.4em -0.2em rgba(79,87,99,0.2) inset;
    height: calc(100% - 5.996455834em);
    position: absolute;
    pointer-events: none;
  }

  ol {
    margin: 1.25em 0;
    padding: 0;
    list-style: none;
  }

  .media {
    width: 100%;
    padding: 0.5em 1.5em 0.5em 1em;
    box-sizing: border-box;
    cursor: pointer;
    overflow: visible;
    outline: none;
    margin-top: 0;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      background-color: lighten($ac1, 55%);
    }

    &:focus {
      box-shadow: 0 0 1px 1px #1a93f4;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $separator-color;
    }

    &[tabindex="0"] {
      background-color: lighten($ac1, 55%);

    }
  }
}

.h5p-hub .filtering .content-type-list:before {
  height: calc(100% - 3.536668484em);
}

.no-results {
  background: no-repeat 4em 0 url('../../../../../images/no-results.svg');
  background-size: 16% 100%;
  padding: 0 1em 0.5em 17em;
  margin-top: 2em;
}
.no-results-title {
  margin-bottom: 0.4em;
  font-size: 1.2em;
  font-weight: bold;
}
.no-results-desc {
  color: #4d4d4d;
}
