.content-type-list ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.no-results {
  background: url('../../../../../images/no-results.svg') no-repeat;
  padding: 0em 1em 0.5em 17em;
  background-position: 4em 0em;
  margin-top: 1em;
}
.no-results-title {
  margin-bottom: 0.75em;
  font-size: 1.2em;
}
