@import '../../../../../styles/base/variables';

.h5p-hub {
  .no-content {

    display: flex;
    box-shadow: 0 -0.4em 0.4em -0.2em rgba(79, 87, 99, 0.2) inset;

    .no-results-img {
      width: 12.7em;
      height: 4.95em;
      padding: 3em 2em;

      @media (max-width: $screen-small) {
        width: 8em;
        padding: 3em 1em;
      }
    }

    .right-text {
      padding: 3em 2em;

      .header {
        font-size: 1.2em;
        color: #242424;
        text-decoration: none solid rgb(36, 36, 36);
      }

      .suggestion-text {
        color: #72757c;
        font-size: 0.95em;
        margin: 0.2em 0;
        text-decoration: none solid rgb(114, 117, 124);
      }

      @media (max-width: $screen-small) {
        padding: 3em 1em;
      }

      .url {
        font-size: 1.295em;
        color: rgb(6, 156, 207);
      }
    }
  }
}
