.h5p-hub {
  .h5p-hub-block-interaction-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    transition: background-color 0.3s ease-in;
  }
}
