.h5p-hub {
  .panel.h5p-section-content-types.open {
    max-height: 58.65em;
  }
  .panel.h5p-section-content-types {
    max-height: 3.0em;
    transition: max-height 0.1s;
    overflow: hidden;
  }
}
