@import '../../../../../styles/base/colors';
@import '../../../../../styles/base/variables';
@import '../../../../../styles/base/mixins';
@import "~susy/sass/susy";

$color-back-button: #474f5a;

.h5p-hub {
  .content-detail {
    background-color: white;
    padding: 1.3em;
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    outline: none;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform 0.2s ease-out, visibility 0s linear 0.2s;

    @include scroll-bar(#F3F3F3, #5e6978);

    &.show {
      transform: translateX(0);
      visibility: visible;
      transition: transform 0.2s ease-out, visibility 0s linear 0s;
    }

    .panel[aria-hidden="false"] {
      display: none;
    }

    // layout
    .container {
      @include container;
      margin-top: $gutter;
      margin-bottom: $gutter * 2;
      padding-bottom: 1em;
      display: flex;

      @media (max-width: $screen-small) {
        flex-wrap: wrap;
      }
    }

    // mobile first
    .image-wrapper {
      flex-shrink: 0;

      @media (max-width: $screen-small) {
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
      }

      img {
        width: 22.5em;
        height: 16.875em;

        @media (max-width: $screen-medium) and (min-width: $screen-small) {
          width: 11.5em;
          height: 8.875em;
        }
      }
    }

    .title {
      outline: 0;

      &.reviewed:after {
        font-size: 0.8em;
        font-family: 'h5p-hub';
        font-weight: normal;
        content: '\e90b';
        color: #359d94;
        position: relative;
        top: -0.2em;
        margin-left: 0.3em;
      }
    }

    .by {
      margin-right: 0.3em;
      color: #6f747a;
    }

    .text-details {
      margin-left: 2em;

      h2 {
        margin-top: 0;
        font-size: 1.458em;
      }
    }
    
    .back-button {
      color: $color-back-button;
      font-size: 1.3em;
      display: inline-block;
      background: transparent;
      border: none;
      text-decoration: none;
      outline: none;

      &:hover {
        color: darken(#1f2227, 30%);
      }
      &:focus {
        box-shadow: 0 0 1px 1px #1a93f4;
      }

      &.icon-arrow-thick:before {
        cursor: pointer;
      }
    }

    .button-bar {
      text-align: right;
      margin: 1.666em 0;
    }
    .button-download-content:before {
      font-family: 'h5p-hub';
      font-size: 0.7em;
      content: '\e90c';
      display: inline-block;
      margin-right: 1em;
      transform: rotate(-90deg) translateX(2px);
      line-height: 1;
    }
  }

  .imagelightbox-button {
    &.next:before,
    &.previous:before {
      display: block;
      line-height: 2em;
      height: 100%;
    }
    &.next:before {
      @include icon($icon-arrow-thick);
      transform: rotate(180deg);

    }
    &.previous:before {
      @include icon($icon-arrow-thick);
    }
    &.close:before {
      @include icon($icon-close);
    }
  }
}