@import "../../../../../styles/base/colors";
@import "../../../../../styles/base/variables";
@import "../../../../../styles/base/mixins";
@import "~susy/sass/susy";

$color-back-button: #474f5a;

.h5p-hub {
  .h5p-hub-content-detail {
    background-color: white;
    padding: 1.3em;
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    outline: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform 0.2s ease-out, visibility 0s linear 0.2s;

    @include scroll-bar(#f3f3f3, #5e6978);

    &.h5p-hub-show {
      transform: translateX(0);
      visibility: visible;
      transition: transform 0.2s ease-out, visibility 0s linear 0s;
    }

    .h5p-hub-panel[aria-hidden="false"] {
      display: none;
    }

    // layout
    .h5p-hub-container {
      @include container;
      margin-top: $gutter;
      margin-bottom: $gutter * 2;
      padding-bottom: 1em;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      @media (min-width: $screen-small) {
        flex-direction: row;
      }

      .h5p-hub-image-wrapper {
        flex-shrink: 0;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          width: 16.5em;
          height: 12.375em;
          
          @media (min-width: $screen-medium) {
            width: 15.5em;
            height: 11.625em;
          }
        }
      }

      & > .h5p-hub-text-details {
        order: 2;
        flex-grow: 1;
        margin: 2em;
  
        .h5p-hub-info-list {
          order: 2;
        }
  
        @media (min-width: $screen-small) {
          order: 3; // On medium screens, move text down below using full widh
          flex-basis: 100%;

          .h5p-hub-info-list {
            display: none;
          }
        }
  
        @media (min-width: $screen-medium) {
          order: 2;
          flex-basis: 0;
          margin: 2em 1em 0;
        }
  
        h2 {
          margin-top: 0;
          font-size: 1.458em;
          line-height: 1.458em;
        }
      }
  
      & > .h5p-hub-info-list {
        order: 3;
        flex-shrink: 0;
        min-width: 15em;
        margin: 1em;
        display: none;
  
        @media (min-width: $screen-small) {
          display: block;
          order: 2;
          flex-grow: 1;
        }
  
        @media (min-width: $screen-medium) {
          order: 3;
          flex-grow: 0;
        }
      }
    }

    .h5p-hub-title {
      outline: 0;

      &.h5p-hub-reviewed:after {
        font-size: 0.8em;
        font-family: "h5p-hub";
        font-weight: normal;
        content: "\e90b";
        color: #359d94;
        position: relative;
        top: -0.2em;
        margin-left: 0.3em;
      }
    }

    .h5p-hub-back-button {
      color: $color-back-button;
      font-size: 1.3em;
      display: inline-block;
      background: transparent;
      border: none;
      text-decoration: none;
      outline: none;

      &:hover {
        color: darken(#1f2227, 30%);
      }
      &:focus {
        box-shadow: 0 0 1px 1px #1a93f4;
      }

      &.h5p-hub-icon-arrow-thick:before {
        cursor: pointer;
      }
    }

    .h5p-hub-button-bar {
      text-align: right;
      margin: 1.666em 0;
    }

    .h5p-hub-button-download-content {

      &::before {
        font-family: "h5p-hub";
        font-size: 0.7em;
        content: "\e90c";
        display: inline-block;
        margin-right: 1em;
        transform: rotate(-90deg) translateX(2px);
        line-height: 1;
      }

      &.h5p-hub-downloading::before {
        @include icon($icon-throbber);
        @include animation(spin 2s linear infinite);
      }
    }


    .h5p-hub-lightbox-inner.h5p-hub-license {
      @include scroll-bar(#f3f3f3, #5e6978);
    }
  }
}
