@import "../../../../../styles/base/colors";
@import "../../../../../styles/base/variables";
@import "../../../../../styles/base/mixins";
@import "~susy/sass/susy";

$color-back-button: #474f5a;

.h5p-hub {
  .content-detail {
    background-color: white;
    padding: 1.3em;
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    outline: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform 0.2s ease-out, visibility 0s linear 0.2s;

    @include scroll-bar(#f3f3f3, #5e6978);

    &.show {
      transform: translateX(0);
      visibility: visible;
      transition: transform 0.2s ease-out, visibility 0s linear 0s;
    }

    .panel[aria-hidden="false"] {
      display: none;
    }

    // layout
    .container {
      @include container;
      margin-top: $gutter;
      margin-bottom: $gutter * 2;
      padding-bottom: 1em;
      display: flex;

      @media (max-width: $screen-small) {
        display: flex;
        flex-direction: column;
      }
    }

    // mobile first
    .image-wrapper {
      flex-shrink: 0;

      @media (max-width: $screen-small) {
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
      }

      img {
        width: 15.5em;
        height: 11.625em;
        @media (max-width: $screen-medium) {
          width: 16.5em;
          height: 12.375em;
        }
      }
    }

    .text-wrapper{
      flex-direction: row;
      display: flex;

      @media(max-width: $screen-medium){
        display: flex;
        flex-wrap: wrap-reverse;
      }
    }

    .info-list {
      min-width: 15em;
      margin-left: 1em;

      @media (max-width: $screen-small) {
        margin-left: 0;
        margin-top: 1em;
      }
    }

    .title {
      outline: 0;

      &.reviewed:after {
        font-size: 0.8em;
        font-family: "h5p-hub";
        font-weight: normal;
        content: "\e90b";
        color: #359d94;
        position: relative;
        top: -0.2em;
        margin-left: 0.3em;
      }
    }

    .text-details {
      margin-left: 2em;

      @media (max-width: $screen-medium) {
        margin-left: -16em;
        margin-top: 2em;
      }

      @media(max-width: $screen-small){
        margin-left: 0;
        margin-top: 1em;
      }

      h2 {
        margin-top: 0;
        font-size: 1.458em;
        line-height: 1.458em;
      }
    }

    .back-button {
      color: $color-back-button;
      font-size: 1.3em;
      display: inline-block;
      background: transparent;
      border: none;
      text-decoration: none;
      outline: none;

      &:hover {
        color: darken(#1f2227, 30%);
      }
      &:focus {
        box-shadow: 0 0 1px 1px #1a93f4;
      }

      &.icon-arrow-thick:before {
        cursor: pointer;
      }
    }

    .button-bar {
      text-align: right;
      margin: 1.666em 0;
    }
    .button-download-content:before {
      font-family: "h5p-hub";
      font-size: 0.7em;
      content: "\e90c";
      display: inline-block;
      margin-right: 1em;
      transform: rotate(-90deg) translateX(2px);
      line-height: 1;
    }

    .lightbox-inner.license {
      @include scroll-bar(#f3f3f3, #5e6978);
    }
  }
}
