.h5p-hub {
  .h5p-hub-info-list {
    li {
      font-size: 0.8em;
      border-bottom: 1px solid #dadada;
      padding: 0.85em 0.5em;

      .h5p-hub-hublabel {
        color: #72757c;
        margin-right: 0.3em;
      }
      .h5p-hub-hubcontent {
        color: #242424;
        font-weight: bold;
      }
      .h5p-hub-capitalize {
        text-transform: capitalize;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
