.h5p-hub {
  .h5p-hub-info-list {
    max-width: 20em;
    li {
      font-size: 0.8em;
      border-bottom: 1px solid #dadada;
      padding: 0.85em 0.5em;

      .h5p-hub-label {
        color: #72757c;
        margin-right: 0.3em;
      }
      .h5p-hub-content {
        color: #242424;
        font-weight: bold;

        & > a {
          color: #326efb;
        }
      }
      .h5p-hub-capitalize {
        text-transform: capitalize;
      }

      &:last-child {
        border-bottom: none;
      }

      .h5p-hub-publisher-link {
        color: #1f2227;
        text-decoration: underline;

        &:hover {
          color: #186df7;
        }

        &:focus {
          box-shadow: 0 0 1px 1px #186df7;
          color: #186df7;
        }
      }
    }
  }
}
