.h5p-hub .h5p-hub-content-list {
  transition: opacity 0.2s, visibility 0s linear 0s;

  &[aria-hidden="true"] {
    display: inherit;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
  }

  .h5p-hub-list.h5p-hub-tabular {
    &:before {
      content: " ";
      width: 100%;
      height: calc(100% - 5.996455834em);
      position: absolute;
      pointer-events: none;
    }
  }

  .h5p-hub-list.h5p-hub-grid {
    ol {
      margin: 0;
    }
  }

  .h5p-hub-fetching-failed {
    display: inline-block;
    font-size: 0.925em;
    border-radius: 5px;
    margin-left: 1em;
    padding: 0.5em 0.85em;
    color: #c64750;
    background: rgba(198, 71, 80, 0.1);
  }
}