.content-item.tabular {

  font-size: 16px;
  display: flex;
  padding: 1em;
  border-bottom: 2px solid #d9d9d9;
  align-items: center;
  cursor: pointer;

  .left {
    align-self: flex-start;
  }

  .middle {
    flex-grow: 10;
    flex-shrink: 10;
    margin-left: 1em;
    overflow: hidden;
  }

  .image {
    width: 140px;
    height: 95px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .headline {
    line-height: 1;
  }

  .title {
    font-size: 1.5625em;
    letter-spacing: -0.5px;
  }

  .by {
    font-size: 1.25em;
    color: #666;
    margin: 0 0.3em;
  }

  .owner {
    font-size: 1.25em;
  }

  .content-type {
    font-size: 1.125em;
    color: #303030;
    letter-spacing: 0.65px;
    margin: 0.5em 0;
  }

  .summary {
    color: #72757c;
    font-size: 1.1875em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .right {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    font-size: 1.5em;
    width: 4em;
    height: 1em;
    text-align: center;

    &:before {
      color: #72757c;
      display: inline-block;
      opacity: 0;
      transition: opacity 0.3s, left 0.3s;
      
      /*font-family: 'h5p-hub';*/
      content: '🡢';

      position: relative;
      left: -0.2em;
    }
  }

  &:hover,
  &:focus {
    background-color: #fafafa;

    .right:before {
      opacity: 1;
      left: 0em;
    }
  }
}