@import '../../../../../styles/base/variables';
@import '../../../../../styles/base/mixins';

.h5p-hub .h5p-hub-content-item.h5p-hub-tabular {
  font-size: 16px;
  display: flex;
  padding: 0.5em 1em;
  border-bottom: 1px solid #ececec;
  align-items: center;
  cursor: pointer;

  .h5p-hub-left {
    align-self: flex-start;
  }

  .h5p-hub-middle {
    flex-grow: 10;
    flex-shrink: 10;
    margin-left: 1em;
    overflow: hidden;
    min-width: 0;
  }

  .h5p-hub-content-icon {
    width: 7em;
    height: 5.25em;
    object-fit: contain;
    background-color: #d0d0d1;
  }

  .h5p-hub-headline {
    line-height: 1.2;
  }

  .h5p-hub-title {
    font-size: 1.1em;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -0.5px;

    &.h5p-hub-reviewed:after {
      font-size: 0.8em;
      font-family: 'h5p-hub';
      font-weight: normal;
      content: '\e90b';
      color: #359d94;
      position: relative;
      top: -0.2em;
      margin-left: 0.3em;
    }
  }

  .h5p-hub-by {
    font-size: 1em;
    color: #666;
    margin: 0 0.3em;
  }

  .h5p-hub-owner {
    font-size: 1em;

    & > a {
      color: #326efb;

      &:focus {
        outline: 5px auto;
      }
    }
  }

  .h5p-hub-content-type {
    font-size: 0.9em;
    color: #303030;
    letter-spacing: 0.65px;
    margin: 0.25em 0;
  }

  .h5p-hub-summary {
    color: #72757c;
    font-size: 0.95em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .h5p-hub-right {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    font-size: 1.5em;
    width: 1.5em;
    height: 1em;
    text-align: center;

    &:before {
      color: #72757c;
      display: inline-block;
      opacity: 0;
      transition: opacity 0.3s, left 0.3s;
      
      font-family: 'h5p-hub';
      content: '\e906';

      position: relative;
      left: -0.2em;
    }
  
    @media (max-width: $screen-small) {
      display: none;
    }
  }

  @mixin h5p-hub-tabular-highlight {
    background-color: #fafafa;

    .h5p-hub-right::before {
      opacity: 1;
      left: 0em;
    }
  }

  &:focus {
    @include h5p-hub-tabular-highlight;
  }

  @include only-when-using-mouse {
    &:hover {
      @include h5p-hub-tabular-highlight;
    }
  }
}
