@import '../../../../../styles/base/variables';

.h5p-hub {
  .h5p-hub-content-item.h5p-hub-grid {
    display: inline-block;
    width: 16.66%;
    margin-top: 0.5em;
    outline: none;

    @media (max-width: $screen-medium) {
      width: 33.33%;
    }

    @media (max-width: $screen-small) {
      width: 50%;
    }

    &:focus .h5p-hub-grid-item,
    &:hover .h5p-hub-grid-item {
      background-color: #fafafa;
    }

    &:focus .h5p-hub-grid-item {
      border-color: #5B9DD9;
    }
  }

  .h5p-hub-grid-item {
    cursor: pointer;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #ddd;
    margin: 0 0.3em;

    .h5p-hub-grid-item-title {
      font-weight: bold;
      letter-spacing: -0.5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 3em;
    }

    img {
      width: 100%;
      height: auto;
    }

    button {
      margin: 0.5em 0 0.75em;
    }
  }
}