@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';

.h5p-hub {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: $gutter;
  position: relative;

  .panel {
    border: 1px solid $c1;
  }

  .panel.open {
    max-height: 58.65em;
  }
}

.h5p-hub.hidden {
  display: none;
}