.h5p-hub {

  .h5p-hub-downloading-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .h5p-hub-downloading-modal {
    position: absolute;
    width: 30rem;
    height: 8rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow: 0px 1px 82px 0px rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;

    .h5p-hub-spinner {
      animation: spin 0.5s linear infinite;
    }

    span.h5p-hub-downloading-message {
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 2rem;
      margin: 1em;

      &:focus {
        outline: none;
      }
    }

    @keyframes spin {
      from { transform: rotate(0deg); }
      to   { transform: rotate(360deg); }
    }
  }
}
