@import "../../../../../../styles/base/mixins";
@import "../../../../../../styles/base/variables";

.h5p-hub {
  .h5p-hub-filter-modal {
    background: rgba(71, 79, 90, 0.6);
    top: 14.7em;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
  }
  .h5p-hub-filter-dialog-content {
    padding: 1.5em;
  }
  .h5p-hub-filter-dialog {
    position: absolute;
    width: 40em;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.25em;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.1);

    .h5p-hub-apply-filters-button {
      &::before {
        @include icon($icon-filters);
        font-style: normal;
        font-size: 0.8em;
        margin: 0 0.4em 0 0.4em;
        margin-right: 1em;
      }

      background-color: $c1;
      text-align: center;
      width: 100%;
      color: #ffffff;
      font-size: 1.15em;
      padding: 1em;
      border-radius: 0.25em;
      margin-top: 1em;
      cursor: pointer;
    }

    .h5p-hub-header-text {
      color: #000000;
      font-size: 1.25em;
      font-weight: bold;
      margin-bottom: 1em;
    }

    .h5p-hub-loading:after {
      @include throbber();
      width: 1em;
      margin: 0 auto;
    }
  }
}