.content-selection-list {
  padding: 2em 1em;

  .header {
    position: relative;
    font-weight: bold;
    padding: 0 1em;
    margin-bottom: 0.5em;
  }
  .title {
    font-size: 1.2em;
  }
  .action {
    position: absolute;
    right: 1.5em;
    top: 0;
  }
}