@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';

$gutter-image: 0.625em;
$size-button: 2.1em;
$color-button: rgba($c1, .8);

.carousel {
  width: 100%;
  box-sizing: border-box;
  position: relative;

  .scroller {
    overflow: hidden;
    width: calc(100% - 5em);
    margin-left: 2.5em;
  }

  ul {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    word-wrap: break-word;
    transition: margin 0.3s linear;

    // Using flex to make the images vertical centered
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  li {
    padding: 0 ($gutter-image / 2);
    width: 20%;
    margin: 0;
    list-style-type: none;
    float: left;
    box-sizing: border-box;
    overflow: hidden;

    img {
      max-width: 100%;
      box-sizing: border-box;
      border: 1px solid #ced6e3;
    }

    img.selectable {
      cursor: pointer;
    }
  }

  li:focus {
    outline: 0;

    img {
      border-color: #0a78d1;
    }
  }


  .progress {
    color: #fff;
    position: relative;
    bottom: -2em;
    text-align: center;
  }

  .navigation {
    width: 2.1em;
    height: 2.1em;
    line-height: 2.1em;
    position: absolute;
    border-radius: 50%;
    color: white;
    background-color: rgba(105, 117, 133, 0.8);
    cursor: pointer;
    border: 2px solid transparent;
    /* Vertical align */
    top: 50%;
    transform: translateY(-50%);
  }

  .navigation[disabled] {
    background-color: rgba(189, 195, 203, 0.8);
    color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
  }

  .navigation:before {
    display: inline-block;
    line-height: 1em;
    height: 1em;
  }

  .navigation:hover {
    background-color: rgba(132, 143, 158, 0.8);
  }

  .navigation:focus {
    outline: 0;
    box-shadow: 0.06em 0 0.6em 0.1em #7bc1f9;
    border-color: #7bc1f9;
  }

  .prev {
    left: 0;
  }
  .prev:before {
    @include icon($icon-arrow-thick);
  }

  .next {
    right: 0;
  }
  .next:before {
    @include icon($icon-arrow-thick);
    transform: rotate(180deg);
  }
}

/* Styling for the image slider in the lightbox */
.lightbox-inner .carousel {
  ul {
    transition-duration: 0.15s;
  }

  li {
    padding: 0;

    img {
      border-color: transparent;
    }
  }

  .navigation {
    font-size: 1.2em;
  }

  .navigation:focus {
    background-color: transparent;
  }

  .next {
    right: -0.75em;
  }

  .prev {
    left: -0.75em;
  }
}
