@import '../../styles/base/variables';
@import '../../styles/base/mixins';

// General color scheme for each section
@mixin section($color) {
  border: 1px solid $color;
}

.h5p-hub {
  font-family: 'Open Sans', sans-serif;
  padding-top: 1px;
  padding-bottom: $gutter;
  position: relative;

  .panel {
    border: 1px solid $c1;
    background: #fff;

    &.h5p-section-content-types {
      @include section($color-section-content-types);
    }

    &.h5p-section-content {
      @include section($color-section-content);
    }

    &.h5p-section-upload {
      @include section($color-section-upload);
    }
  }

  .panel.open {
    max-height: 58.65em;
  }

  .button-install {
    [class^="icon-"] {
      margin-right: $gutter / 2;
      display: inline-block;
    }

    .icon-arrow-thick {
      transform: rotate(-90deg);
    }
  }

  .content-type-section {
    position: relative;
    overflow: hidden;

    &.height-limit {
      height: 34em;
    }
  }
  .content-type-section-view > .h5p-hub-message {
    margin: 0;
    padding: 0.5em 3.5em 0.7em 2.292em;
  }
  .error .button.retry-button {
    margin: 0.5em 0 0.75em;
    border-width: 2px;

    &:hover,
    &:active {
      background-color: #c64750;
      border-color: #c64750;
      color: #fff;
    }
    &:focus {
      box-shadow: 0.06em 0 0.6em 0.1em #c64750;
    }
    &[disabled] {
      box-shadow: none;
      background-color: #c64750;
      border-color: #c64750;
      color: #fff;
      opacity: 0.5;
      padding-left: 3em;
    }
    &[disabled]:before {
      @include throbber();

      position: absolute;
      margin-left: -2.35em;
      margin-top: -0.8em;
      color: #fff;
    }
  }
}

.h5p-hub.hidden {
  display: none;
}
