@import '../../styles/base/variables';
@import '../../styles/base/mixins';

// General color scheme for each section
@mixin section($color) {
  border: 1px solid $color;
}

.h5p-hub {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: $gutter;
  position: relative;

  .panel {
    border: 1px solid $c1;

    &.h5p-section-content-types {
      @include section($color-section-content-types);
    }

    &.h5p-section-content {
      @include section($color-section-content);
    }

    &.h5p-section-upload {
      @include section($color-section-upload);
    }
  }

  .panel.open {
    max-height: 58.65em;
  }

  .button-install {
    [class^="icon-"] {
      margin-right: $gutter / 2;
      display: inline-block;
    }

    .icon-arrow-thick {
      transform: rotate(-90deg);
    }
  }

  .menu-group,
  .content-type-section {
    display: none;
  }

  .content-type-section {
    position: relative;
    overflow: hidden;
  }
}

.h5p-hub.hidden {
  display: none;
}
