@import '../../styles/base/variables';
@import '../../styles/base/mixins';

.h5p-hub {
  font-family: 'Open Sans', sans-serif;
  padding-top: 1px;
  padding-bottom: $gutter;
  position: relative;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  .h5p-hub-panel {
    border: 1px solid $c1;
    background: #fff;

    &.h5p-hub-section-content-types {
      border-color: $color-section-content-types;
    }

    &.h5p-hub-section-reuse {
      border-color: $color-section-reuse;
    }

    &.h5p-hub-section-upload {
      border-color: $color-section-upload;
    }
  }

  .h5p-hub-ssection-content-types.open {
    max-height: 58.65em;
  }

  .h5p-hub-button-install {
    [class^="icon-"] {
      margin-right: $gutter / 2;
      display: inline-block;
    }

    .h5p-hub-icon-arrow-thick {
      transform: rotate(-90deg);
    }
  }

  .h5p-hub-content-type-section {
    position: relative;
    overflow: hidden;

    &.h5p-hub-height-limit {
      height: 34em;
    }
  }
  .h5p-hub-content-type-section-view > .h5p-hub-message {
    margin: 0;
    padding: 0.5em 3.5em 0.7em 2.292em;
  }
  .h5p-hub-error .h5p-hub-button.h5p-hub-retry-button {
    margin: 0.5em 0 0.75em;
    border-width: 2px;

    &:hover,
    &:active {
      background-color: #c64750;
      border-color: #c64750;
      color: #fff;
    }
    &:focus {
      box-shadow: 0.06em 0 0.6em 0.1em #c64750;
    }
    &[disabled] {
      box-shadow: none;
      background-color: #c64750;
      border-color: #c64750;
      color: #fff;
      opacity: 0.5;
      padding-left: 3em;
    }
    &[disabled]:before {
      @include throbber();

      position: absolute;
      margin-left: -2.35em;
      margin-top: -0.8em;
      color: #fff;
    }
  }
}

.h5p-hub.h5p-hub-hidden {
  display: none;
}

.h5p-hub-client-container-using-mouse [role=button] {
  outline: none;
}
