@import "../../../styles/base/mixins";
@import "../../../styles/base/colors";

@mixin arrow-right {
  color: #121212;
  @include icon($icon-arrow-line);
  transform: rotate(-90deg);
  font-style: normal;
  font-size: 0.7em;
  display: inline-block;
  position: absolute;
  left: 47em;
  align-self: center;
}

.h5p-hub {
  .checkbox {
    font-size: 1.05em;

    &:focus {
      box-shadow: 0 0 0.4em 0.01em RGBA(26, 147, 244, 0.7);
      outline: none;
    }

    display: flex;
    cursor: pointer;
    align-self: start;
    padding: 0.2em 0;
    color: #4d5057;
    width: 100%;

    &:hover {
      &.parent:after {
        @include arrow-right();
      }
    }
    &.highlighted {
      &.parent:after {
        @include arrow-right();
      }
    }

    .content {
      display: flex;
    }

    .content-text {
      margin-left: 2em;
    }

    .bold {
      font-weight: bold;
    }

    &.checked {
      .content {
        .icon {
          &::before {
            @include icon($icon-checkbox-check);
            font-style: normal;
            font-size: 0.8em;
            margin: 0.4em 0.4em 0 0.4em;
            margin-right: 1em;
            color: $c1;
          }
        }
      }
    }
    &.unChecked {
      .content {
        .icon {
          &::before {
            @include icon($icon-check-empty);
            font-style: normal;
            font-size: 0.8em;
            margin: 0.4em 0.4em 0 0.4em;
            margin-right: 1em;
            color: $c1;
          }
        }
      }
    }
  }
}
