@import "../../../styles/base/mixins";
@import "../../../styles/base/colors";

@mixin arrow-right {
  color: #121212;
  @include icon($icon-arrow-line);
  transform: rotate(-90deg);
  font-style: normal;
  font-size: 0.7em;
  display: block;
  position: absolute;
  right: 2em;
  align-self: center;
}

.h5p-hub {
  .h5p-hub-checkbox {
    font-size: 1.05em;
    padding: 0.5em 0;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    align-self: start;
    color: #4d5057;
    width: 100%;
    position: relative;

    &:focus {
      box-shadow: 0 0 0.4em 0.01em RGBA(26, 147, 244, 0.7);
      outline: none;
    }

    &.h5p-hub-parent::after {
      @include arrow-right();
    }
    
    .h5p-hub-bold {
      font-weight: bold;
    }
    
    .h5p-hub-non-bold {
      font-weight: normal;
    }
    
    .h5p-hub-content {
      display: flex;
      .h5p-hub-icon {
        &::before {
          @include icon($icon-check-empty);
          font-style: normal;
          font-weight: normal;
          font-size: 1em;
          margin: 0.4em 0.4em 0 0.4em;
          margin-right: 1em;
          color: $c1;
        }
      }
    }

    &.h5p-hub-checked {
      .h5p-hub-content {
        .h5p-hub-icon {
          &::before {
            @include icon($icon-checkbox-check);
            font-style: normal;
            font-weight: normal;
            font-size: 1em;
            margin: 0.4em 0.4em 0 0.4em;
            margin-right: 1em;
            color: $c1;
          }
        }
      }
    }
  }
}
