@import '../../../styles/base/variables';

// General color scheme for each section
@mixin section($color) {
  .tab-button {
    border-bottom: $height-menuitem-underline solid transparent;
    transition: border-bottom 1s;

    &[aria-selected="true"] {
      border-bottom: $height-menuitem-underline solid $color;
      transition: border-bottom 1s;
    }
  }
}

.h5p-hub {
  .panel {
    &.h5p-section-content-types {
      @include section($color-section-content-types);
    }

    &.h5p-section-content {
      @include section($color-section-content);
    }

    &.h5p-section-upload {
      @include section($color-section-upload);
    }
  }
}