@import '../../../styles/base/variables';
@import "../../../styles/base/mixins";


// General color scheme for each section
@mixin section($color) {
  .h5p-hub-tab-button {
    &[aria-selected="true"] {
      border-bottom: $height-menuitem-underline solid $color;
    }
  }
}

.h5p-hub {
  .h5p-hub-panel {
    &.h5p-hub-section-content-types {
      @include section($color-section-content-types);
    }

    &.h5p-hub-section-reuse {
      @include section($color-section-reuse);
    }

    &.h5p-hub-section-upload {
      @include section($color-section-upload);
    }
  }

  .h5p-hub-tab-panel {
    border: none;

    [role="tablist"] {
      background-color: $c4;
      list-style: none;
      border-bottom: none;
      padding-left: 1em;
      margin: 0;

      > span {
        display: block;
        height: 0.3em;
        background: $ac1;
        position: relative;
        transition: all .5s ease;
      }
    }
    [role="tab"] {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      transition: all .5s ease;
      color: $c3;
      outline-color: lighten($ac1, 10%);
      border-bottom: $height-menuitem-underline solid transparent;
      transition: border-bottom 0.4s;

      &:nth-child(1) ~ span,
      &:nth-child(1)[aria-selected="true"] ~ span {
        height: 0.27em;
        width: 200px;
        right: 0;
      }

      &:nth-child(2) ~ span,
      &:nth-child(2)[aria-selected="true"] ~ span {
        height: 0.27em;
        width: 4em;
        right: -230px;
      }

      & > a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: $gutter;

        &:before {
          @include h5p-hub-icon($icon-radio-unselected, $gutter);
        }
        &:focus:before {
          border-radius: 50%;
          box-shadow: 0 0 0.6em 0.1em #7bc1f9;
        }
      }

      &[aria-selected='true'] > a:before {
        content: $icon-radio-selected;
      }
    }
  }
}
