/* Section colors */
$color-section-content-types: #0a78d1;
$color-section-reuse: #db6f28;
$color-section-upload: #ced6e3;

// main colors
$c1: #697585 !default;
$c2: #ced6e3 !default;
$c3: #f3f3f3 !default;

// derived colors
$c4: darken($c1, 15%); // #4f5762
$c5: darken($c1, 30%); // #1f2227
$c6: #697585;

// semantic colors
$ac1: #0a78d1 !default;
$ac-info: #00aa54 !default;
$ac-warning: #ffcc33 !default;
$ac-error: #c64750 !default;
$text-dark: #1f2227 !default;
$text-light: #697585 !default;
$text-link: #1a93f4 !default;
$text-link-hover: darken($text-link, 15%);

$separator-color: #ececec !default;
