// images will be base64 encoded by webpack
$icon-arrow-up:   url('../../images/arrow-line-up.svg');
$icon-arrow-down: url('../../images/arrow-line-down.svg');
$icon-scroll-bar: url('../../images/scrollbar-bars-icon.svg');

$icon-close: '\e901';

@mixin scroll-bar($background-color, $button-color) {
  &::-webkit-scrollbar {
    background-color: $background-color;
    width: 0.750em;
  }

  &::-webkit-scrollbar-thumb {
    background: $button-color $icon-scroll-bar no-repeat center;
    background-size: 24px 100%;
  }

  &::-webkit-scrollbar-button:vertical {
    background-size: 20px 20px;
    background-position-x: -4px;
    background-position-y: -3px;
    background-color: $button-color;
    background-repeat: no-repeat;

    &:decrement  {
      background-image: $icon-arrow-up;
    }

    &:increment{
      background-image: $icon-arrow-down;
    }
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content
  }

  @keyframes #{$name} {
    @content
  }
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  animation:         $animations;
}

@mixin icon($icon) {
  font-family: 'h5p-hub';
  content: $icon;
}

@mixin h5p-hub-icon($char) {
  font-family: 'h5p-hub';
  content: $char;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-right: $gutter;
}
