@import "colors";

// text
$text-title-large: 1.458em !default;
$text-title-small: 1.250em !default;
$text-body-large: 0.917em !default;
$text-body-small: 0.95em !default;
$text-list-title: 1.042em !default;

// layout
$gutter: 0.833em !default;
$border-width: 1px !default;
$border-panel: 1px solid $c2;

// breakpoints
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-extra-large: 1201px;
