@import "../../../../../../styles/base/colors";
@import "../../../../../../styles/base/mixins";
@import "../../../../../../styles/base/variables";

$content-type-list-image-size: 100px;

.h5p-hub .h5p-hub-content-type-list {
  .h5p-hub-media .h5p-hub-media-body {
    overflow: visible;
    zoom: 1;
    width: 10000px;
  }

  .h5p-hub-media-left {
    display: table-cell;
    vertical-align: top;
  }

  .h5p-hub-media-body {
    display: table-cell;
    vertical-align: middle;
  }

  .h5p-hub-media-left {
    padding-right: $gutter;
  }

  .h5p-hub-media-object {
    width: $content-type-list-image-size / 2;
  }

  .h5p-hub-headline {
    float: left;
    font-size: $text-list-title;
    margin: 0 0.5em $gutter / 2 0;

    .h5p-hub-title {
      font-weight: bold;
      letter-spacing: -0.5px;
    }

    .h5p-hub-by {
      font-size: 90%;
      color: #666;
      margin: 0 0.3em 0 0.6em;
    }

    .h5p-hub-owner {
      font-size: 90%;
    }
  }

  .h5p-hub-media-text-icon {
    float: left;
    height: 15px;
  }

  .h5p-hub-button {
    min-width: 4em;
    padding: 0.65em 1.5em;
    float: right;
  }

  .h5p-hub-description {
    color: $c6;
    font-size: $text-body-small;
    float: left;
    clear: left;
  }

  .h5p-hub-content-type-update-info {
    margin-right: 0;
    color: $text-light;
    font-size: 0.8em;
    font-style: italic;
    float: left;

    &:before {
      @include icon($icon-update);
      font-style: normal;
      font-size: 0.8em;
      margin-right: 0.4em;
    }
  }

  .h5p-hub-button-install:before {
    @include icon($icon-arrow-thick);
    display: inline-block;
    transform: rotate(-90deg);
    margin-right: 0.7em;
    font-size: 0.9em;
  }

  @media (min-width: $screen-medium) {
    .h5p-hub-button {
      margin-top: 0.25em;
    }

    .h5p-hub-content-type-update-info {
      margin-right: 2em;
      margin-top: 1em;
      float: right;
    }
  }

  @media (min-width: $screen-small) {
    .h5p-hub-media-object {
      width: $content-type-list-image-size;
    }
  }
}
